@CHARSET "UTF-8";
    
#wrapper {
	width: 708px;
}


h1 {
	font-size: 25pt;
}

h3 {
	font-size: 8pt;
	color: white;
}



#body {
	font-size: 12px;
	width: 700px;
}

#body a {
	text-align: center;
	font-size: 12px;
	font-weight: normal;
}

#body .leftbox,
#body .rightbox {
	color: Black;
	height: 430px;
}

#body .leftbox {
	width: 330px;
}

#body .rightbox {
	float: right;
	width: 332px;
	margin-right: 18px;
	border-left: 2px solid #ad1c1c;
}

#body h3 {
	font-size: 18px;
	font-weight: normal;
	color: black;
}

