@CHARSET "UTF-8";

body {
	font-family: tahoma, helvetica, arial, sans-serif;
	font-size: 10px;
	text-align: center;
	background: url(images/home_bg.gif);
}

html,body,#wrapper,h1 {
	margin: 0;
	padding: 0;
}

img {
	border: 0;
}

#wrapper {
	margin: auto;
	text-align: center;
	width: 708px;
	position: relative;
}

h1 {
	font-size: 30pt;
	font-weight: 900;
	color: white;
	font-variant: small-caps;
}

h2 {
	font-size: 12pt;
	font-weight: 600;
	color: white;
}

h3 {
	font-size: 8pt;
	color: white;
}

.block {
	display: block;
}

.clear {
	clear: both;
	height: 2px;
	padding-top: 0;
	margin-top: 0;
	margin-bottom: 3px;
	font-size: 1px;
}

.readmore {
	text-align: right;
}

#inner {
	border-left: 2px solid white;
	border-right: 2px solid white;
	background: white;
	color: black;
	margin-bottom: 10px;
}

#header {
	background-color: #c80000;
	padding: 5px;
	margin-bottom: 10px;
	position: relative;
}

#nav,#nav a {
	text-align: center;
	color: white;
	font-weight: bold;
	text-decoration: none;
}

#nav a:hover {
	text-decoration: underline;
}

#body {
	float: right;
	width: 700px;
	margin: 2px 1px 0 0;
	border: 2px solid #ad1c1c;
	position: relative;
	font-size: 13px;
}

#body a {
	text-align: center;
	font-family: tahoma, helvetica, arial, sans-serif;
	font-size: 13px;
	font-weight: normal;
}

#body .leftbox,#body .rightbox {
	margin-top: 5px;
	color: Black;
	height: 300px;
}

#body .leftbox {
	float: left;
	width: 330px;
}

#body .rightbox {
	float: right;
	width: 332px;
	margin-right: 18px;
	border-left: 2px solid #ad1c1c;
}

#body br {
	margin-top: 15px;
	padding: 15px;
}

#body h3 {
	text-align: center;
	font-family: tahoma, helvetica, arial, sans-serif;
	font-size: 18px;
	font-weight: normal;
	color: #5d5d5d;
	padding: 0 0 0 18px;
	margin: 1px 0 3px 0;
}


#body h4 {
	text-align: center;
	font-family: tahoma, helvetica, arial, sans-serif;
	font-size: 15px;
}

#body h5 {
	text-align: left;
	margin-left: 20px;
	font-family: tahoma, helvetica, arial, sans-serif;
	font-size: 13px;
}

#body li {
	font-size: 13px;
	font-weight: normal;
	list-style-type: decimal;
	text-align: left;
	margin-left: 20px;
	padding-bottom: 8px;
}

#body ul {
	list-style-type: none;
}



