@CHARSET "UTF-8";

#wrapper {
	width: 708px;
}

#nav a:hover {
	text-decoration: underline;
}

#body {
	width: 700px;
	font-size: 13px;
	border: 2px solid #ad1c1c;
}

#body a {
	text-align: center;
	font-size: 13px;
	font-weight: normal;
}

#body .leftbox,#body .rightbox {
	margin-top: 5px;
	color: Black;
	height: 300px;
}

#body .leftbox {
	float: left;
	width: 325px;
}

#body .rightbox {
	float: right;
	width: 325px;
	border-left: 2px solid #ad1c1c;
}

#body br {
	margin-top: 15px;
	padding: 15px;
}

#body h3 {
	text-align: center;
	font-size: 18px;
	font-weight: normal;
	color: #5d5d5d;
	padding: 0 0 0 18px;
	margin: 1px 0 3px 0;
}


#body h4 {
	text-align: center;
	font-size: 15px;
}

#body h5 {
	text-align: left;
	margin-left: 20px;
	font-size: 13px;
}

#body li {
	font-size: 13px;
	font-weight: normal;
	list-style-type: decimal;
	text-align: left;
	margin-left: 20px;
	padding-bottom: 8px;
}

#body ul {
	list-style-type: none;
}



