@CHARSET "UTF-8";

body {
	color: black;
}

#wrapper {
	width: 800px;
}

h1 {
	color: #73b501;
	font-family: 'Syncopate', sans-serif;
}

#header {
	background-color: white;
}


#browse {
	width: 230px;
}

#browse dt {
	background: #4496c6;
	border-bottom: 1px solid #CCCCCC;
}

#browse dd {
	color: black;
	border-bottom: 1px solid #CCCCCC;
}

#browse dd a {
	color: black;
}

#browse dd a:hover {
	background: rgba(0, 0, 0, 0.1);
	text-decoration: underline;
}

#browse form div {
	padding-bottom: 8px;
	width: 160px;
}

#body {
	width: 560px;
}