@CHARSET "UTF-8";



#wrapper {
	padding-top: 50pt;
	width: 250px;
}

h1 {
	font-size: 20pt;
}

#browse {
	width: 250px;
}

#browse dt {
	background: #ad1c1c;
}

#browse dt a {
	padding: 6px 22px;
}


#browse dd {
	background: url(images/home_bg.gif);
	font-size: 10pt;
}

#browse dd a {
	background: #227293;
}

#body {
	float: center;
	margin: 2px 1px 0 0;
	border: 2px solid #659db4;
	position: relative;
}

table {
	float: left;
	font-size: 12px;
}

#body .br {
	border-bottom: 2px solid #659db4;
}

#box {
	font-size: 12px;
	width: 500px;
	border-collapse: collapse
	table-layout: fixed;
}

#box .user {
	width: 100px;
}

#box .title {
	width: 300px;
}

#box .time {
	width: 100px;
}

#box td,th{
	overflow: hidden;
	text-overflow: ellipsis;
}

#box tr {
	height: 1em;
}

#box tr.bold {
	height: 1em;
	font-weight: bold;
}

td,th {
	text-align: left;
	padding-left: 0.5em;
	padding-right: 0.5em;
}