@CHARSET "UTF-8";

#wrapper {
	width: 870px;
}

#browse {
	width: 230px;
}

#browse form div {
	width: 100%;
}

#browse input[type="search"] {
	width: 100%;
}

#body {
	width: 600px;
}

#body p {
	margin: 1em 1em;
	padding-left: 20px;
	text-align: left;
	margin-left: 20px;
	padding-bottom: 8px;
}

#body .leftbox,#body .rightbox {
	height: 100px;
}

#body .leftbox {
	width: 300px;
}

#body .rightbox {
	width: 302px;
	margin-right: 18px;
	border-left: 2px solid #659db4;
}

#body li {
	font-size: 13px;
	font-weight: normal;
	list-style-type: decimal;
	text-align: left;
	margin-left: 20px;
	margin-right: 20px;
	padding-bottom: 8px;
}

#body li a:hover {
	text-decoration: underline;
	background-color: #ffff33;
}