@CHARSET "ISO-8859-1";

p {
	color: #484848;
	font-family: "Times New Roman", Time, serif;
	font-size: 20px;
	padding: 10px;
}

.results {
	padding: 5px;
	color: #484848;
	border-radius: 8px 8px 8px 8px;
	background: lightgray;
}

.hidden {
	visibility: hidden
}

.clear_btn {
	text-align: left
}