@import url('http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic');
@CHARSET "UTF-8";

body {
	font-family: lato, tahoma, helvetica, arial, sans-serif;
	font-size: 10px;
	text-align: center;
	background: url(../images/home_bg.gif);
}

html,body,#wrapper,h1 {
	margin: 0;
	padding: 0;
}

img {
	border: 0;
}

#wrapper {
	margin: auto;
	text-align: center;
	width: 860px;
	position: relative;
}

h1 {
	font-size: 30pt;
	font-weight: 900;
	color: white;
	font-variant: small-caps;
}

h2 {
	font-size: 12pt;
	font-weight: 600;
	color: white;
}

h3 {
	font-size: 8pt;
	color: white;
}

.block {
	display: block;
}

.clear {
	clear: both;
	height: 2px;
	padding-top: 0;
	margin-top: 0;
	margin-bottom: 3px;
	font-size: 1px;
}

.readmore {
	text-align: right;
}

#inner {
	border-left: 2px solid white;
	border-right: 2px solid white;
	background: white;
	color: black;
	margin-bottom: 10px;
}

#header {
	background-color: #c80000;
	padding: 5px;
	margin-bottom: 10px;
	position: relative;
}

#nav,#nav a {
	text-align: center;
	color: white;
	font-weight: bold;
	text-decoration: none;
}

#nav a:hover {
	text-decoration: underline;
}

#browse {
	float: left;
	width: 180px;
	margin: 0;
	padding: 0;
	background: white;
	border-bottom: 2px solid white;
}

#browse dt {
	background: #c80000;
	font-size: 10pt;
	color: white;
	margin: 2px 2px 1px 2px;
	padding: 6px 0;
	text-align: center;
	font-weight: bold;
}

#browse dt a {
	color: white;
	font-weight: bold;
	text-decoration: none;
	display: block;
	padding: 3px 22px;
}

#browse dt a:hover {
	background: #f96969;
}

#browse dd {
	background: #227293;
	color: white;
	margin: 1px 1px 1px 1px;
	border-bottom: 1px solid #659db4;
	padding: 3px 0;
	margin: 0 2px;
}

#browse dd a {
	color: white;
	font-weight: bold;
	text-decoration: none;
	display: block;
	padding: 3px 22px;
}

#browse dd a:hover {
	background: #74a7b7;
}

#browse .create {
	padding: 10px;
}


#browse .searchform {
	padding: 10px;
}

#browse .text,#browse select {
	width: 160px;
}

#browse form {
	margin: 0;
	padding: 0;
}

#browse form div {
	padding-bottom: 8px;
	width: 160px;
}

#body {
	float: right;
	width: 650px;
	margin: 2px 1px 0 0;
	border: 2px solid #659db4;
	position: relative;
}

#body p {
	margin: 1em 0;
	padding: 0;
	font-size: 14px;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

#body .leftbox,#body .rightbox {
	margin-top: 5px;
	color: #464646;
	height: 180px;
}

#body .leftbox {
	float: left;
	width: 300px;
	padding-left: 10px;
	padding-right: 15px;
}

#body .rightbox {
	float: right;
	width: 300px;
	padding-left: 13px;
	padding-right: 10px;
	border-left: 2px solid #659db4;
}

#body li.quizlist {
	color: #202020;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size: 13px;
	font-weight: normal;
	list-style-type: decimal;
	text-align: center;
	margin-left: 20px;
	padding-bottom: 5px;
}

#body li.quizlist a {
	color: #202020;
	text-decoration: none;
}

#body li.quizlist a:hover {
	text-decoration: underline;
}

#body li.activity {
	color: #202020;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size: 13px;
	font-weight: normal;
	list-style-type: square;
	text-align: left;
	margin-left: 20px;
	padding-top: 10px;
	word-wrap: break-all;
}

#body li.activity a {
	color: #202020;
	text-decoration: underline;
}

#body li.activity a:hover {
	text-decoration: underline;
	background: #ffffff;
}

#body .br {
	border-bottom: 2px solid #659db4;
}

#body .readmore {
	margin-top: -0.5em;
	margin-bottom: 0;
	padding-bottom: 0;
}

#body .readmore a {
	color: #ad1c1c;
	text-align: right;
}

#body .readmore a:hover {
	color: #f73838;
}

#body h2 {
	color: #5d5d5d;
}

#body h3 {
	text-align: center;
	font-family: tahoma, helvetica, arial, sans-serif;
	font-size: 15px;
	font-weight: bold;
	color: #5d5d5d;
	padding: 0 0 0 18px;
	margin: 1px 0 3px 0;
}

#body h4 {
	text-align: center;
	font-family: tahoma, helvetica, arial, sans-serif;
	font-size: 15px;
}

#body h5 {
	text-align: left;
	margin-left: 20px;
	font-family: tahoma, helvetica, arial, sans-serif;
	font-size: 13px;
}
#body li.activity {
	color: #202020;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size: 13px;
	font-weight: normal;
	list-style-type: square;
	text-align: left;
	margin-left: 20px;
	padding-top: 10px;
	word-wrap: break-all;
}

#body li.activity a {
	color: #202020;
	text-decoration: underline;
}

#body li.activity a:hover {
	text-decoration: underline;
	 background: #ffffff;
}